{% load static %}
<!-- PAGE CONTENT-->
<div class="page-content--bgf7">
<!-- BREADCRUMB-->
<section class="au-breadcrumb2">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="au-breadcrumb-content">
                    <div class="au-breadcrumb-left">
                        <span class="au-breadcrumb-span">You are here:</span>
                        <ul class="list-unstyled list-inline au-breadcrumb__list">
                            <li class="list-inline-item active">
                                <a href="#">Home</a>
                            </li>
                            <li class="list-inline-item seprate">
                                <span>/</span>
                            </li>
                            <li class="list-inline-item">Category</li>
                        </ul>
                    </div>
                    <form class="au-form-icon--sm" action="" method="post">
                        <input class="au-input--w300 au-input--style2" type="text" placeholder="Search for datas &amp; reports...">
                        <button class="au-btn--submit2" type="submit">
                            <i class="zmdi zmdi-search"></i>
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- END BREADCRUMB-->

<!-- DATA TABLE-->
<section class="p-t-20">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h3 class="title-5 m-b-35">Category List</h3>
                <div class="table-data__tool">
                    <div class="table-data__tool-left">
                        <div style="display: inline-block;">
                                <button class="au-btn au-btn-icon au-btn--blue2 au-btn--small" onclick="history.back();">
                                <i class="zmdi zmdi-arrow-left"></i>Back</button>
                            </div>
                        <div class="rs-select2--light rs-select2--md">
                            <select class="js-select2" name="property">
                                <option selected="0">Roles</option>
                                <option value="1">Student</option>
                                <option value="2">Teacher</option>
                                <option value="3">Admin</option>
                            </select>
                            <div class="dropDownSelect2"></div>
                        </div>
                        <button class="au-btn-filter">
                            <i class="zmdi zmdi-filter-list"></i>filters</button>
                    </div>
                </div>
                <div class="table-responsive table-responsive-data2">
                    <table class="table table-data2">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Category name</th>
                                <th>Role</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody class="tbody">
                            {% for user in user_list %}
                                <tr class="tr-shadow">
                                    <td>{{ user.id }}</td>
                                    <td>
                                        {{ user.user_name }}
                                    </td>
                                    <td>
                                        <div class="rs-select2--light rs-select2--md">
                                            <select class="js-select2 user-role" name="property" id="selectUserRole-{{ user.id }}">
                                                <option selected="0">Roles</option>
                                                {% for role in user_roles %}
                                                   <option value="{{role.id}}"
                                                       {% ifequal role.id user.user_roll %}selected="selected"{% endifequal  %}>
                                                       {{role.name|capfirst}}
                                                   </option>
                                                {% endfor %}
                                            </select>
                                        <div class="dropDownSelect2"></div>
                                    </div>
                                    </td>
                                    <td>
                                        <div class="table-data-feature">
                                            <button class="item" id="updateUserRole-{{ user.id }}" onclick="callUpdateUserRole({{ user.id }})" title="Save">
                                                <i class="zmdi zmdi-long-arrow-return"></i>
                                            </button>
                                        </div>
                                    </td>
                                </tr>
                                <tr class="spacer"></tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- END DATA TABLE-->

{% include 'partials/copyright.html' %}
</div>


<!-- modal medium add subject -->
<div id="createCategoryModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mediumModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="email-loading" style="display: none;"></div>
            <div class="modal-header">
                <h5 class="modal-title" id="mediumModalLabel">Create Subject</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="company" class=" form-control-label">Category name</label>
                    <input type="text" id="course_type" placeholder="Enter category name" class="form-control">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <button type="button" id="submit-create-category" class="btn btn-primary">Confirm</button>
            </div>
        </div>
    </div>
</div>
<!-- end modal medium -->

<!-- modal medium add subject -->
<div id="UpdateCategoryModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mediumModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="email-loading" style="display: none;"></div>
            <div class="modal-header">
                <h5 class="modal-title" id="mediumModalLabel">Edit Subject</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="company" class=" form-control-label">Category name</label>
                    <input type="text" id="edit_course_type" placeholder="Enter category name" class="form-control">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <button type="button" id="submit-update-category" class="btn btn-primary">Confirm</button>
            </div>
        </div>
    </div>
</div>
<!-- end modal medium -->