{% load static %}
<!-- PAGE CONTENT-->
<div class="page-content--bgf7">
    <!-- BREADCRUMB-->
    <section class="au-breadcrumb2">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="au-breadcrumb-content">
                        <div class="au-breadcrumb-left">
                            <span class="au-breadcrumb-span">You are here:</span>
                            <ul class="list-unstyled list-inline au-breadcrumb__list">
                                <li class="list-inline-item active">
                                    <a href="#">{{ root_page}}</a>
                                </li>
                                <li class="list-inline-item seprate">
                                    <span>/</span>
                                </li>
                                <li class="list-inline-item">{{ child_page}}</li>
                            </ul>
                        </div>
                        <form class="au-form-icon--sm" action="" method="post">
                            <input class="au-input--w300 au-input--style2" type="text" placeholder="Search for datas &amp; reports...">
                            <button class="au-btn--submit2" type="submit">
                                <i class="zmdi zmdi-search"></i>
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- END BREADCRUMB-->
    <!-- DATA TABLE-->
<!--    ádassssssss-->
<!--    {{ user_joined_dict_list }}-->
    <section class="p-t-20">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h3 class="title-5 m-b-35">Courses: {{ course.course_name }}</h3>
                    <div class="table-data__tool">
                        <div class="table-data__tool-left">
                            <div style="display: inline-block;">
                                <button class="au-btn au-btn-icon au-btn--blue2 au-btn--small" onclick="history.back();">
                                <i class="zmdi zmdi-arrow-left"></i>Back</button>
                            </div>
                            <div class="rs-select2--light rs-select2--md">
                                <select class="js-select2" name="property">
                                    <option selected="selected">All Properties</option>
                                    <option value="">Option 1</option>
                                    <option value="">Option 2</option>
                                </select>
                                <div class="dropDownSelect2"></div>
                            </div>
                            <div class="rs-select2--light rs-select2--sm">
                                <select class="js-select2" name="time">
                                    <option selected="selected">Today</option>
                                    <option value="">3 Days</option>
                                    <option value="">1 Week</option>
                                </select>
                                <div class="dropDownSelect2"></div>
                            </div>
                            <button class="au-btn-filter">
                                <i class="zmdi zmdi-filter-list"></i>filters
                            </button>
                        </div>
                    </div>
                    <div class="table-responsive table-responsive-data2">
                        <table class="table table-data2">
                            <thead>
                                <tr>
                                    <th>Course name</th>
                                    <th>Email</th>
                                    <th>Status</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for user in user_list %}
                                    <tr class="tr-shadow">
                                        <td>{{ user.user_name }}</td>
                                        <td>
                                            <span class="block-email">lori@example.com</span>
                                        </td>
                                        <td>
                                            {% if user.join_status is True %}
                                                <button id="leave-course-btn-{{user.id}}" onclick="removeStudentCalendar({{user.id}}, {{ course.id }})" class="btn btn-warning btn-sm">Remove</button>
                                                <button id="join-course-btn-{{user.id}}"  onclick="addStudentCalendar({{user.id}}, {{ course.id }})" class="btn btn-primary btn-sm" style="display:none">Add</button>
                                            {% else %}
                                                <button id="leave-course-btn-{{user.id}}" onclick="removeStudentCalendar({{user.id}}, {{ course.id }})" class="btn btn-warning btn-sm" style="display:none">Remove</button>
                                                <button id="join-course-btn-{{user.id}}"  onclick="addStudentCalendar({{user.id}}, {{ course.id }})" class="btn btn-primary btn-sm">Add</button>
                                            {% endif %}

                                        </td>
                                    </tr>
                                    <tr class="spacer"></tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- END DATA TABLE-->

    {% include 'partials/copyright.html' %}
</div>


