{% load static %}
<!-- PAGE CONTENT-->
<div class="page-content--bgf7">
    <!-- BREADCRUMB-->
    <section class="au-breadcrumb2">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="au-breadcrumb-content">
                        <div class="au-breadcrumb-left">
                            <span class="au-breadcrumb-span">You are here:</span>
                            <ul class="list-unstyled list-inline au-breadcrumb__list">
                                <li class="list-inline-item active">
                                    <a href="#">My Course</a>
                                </li>
                                <li class="list-inline-item seprate">
                                    <span>/</span>
                                </li>
                                <li class="list-inline-item">Course Details</li>
                            </ul>
                        </div>
                        <form class="au-form-icon--sm" action="" method="post">
                            <input class="au-input--w300 au-input--style2" type="text" placeholder="Search for datas &amp; reports...">
                            <button class="au-btn--submit2" type="submit">
                                <i class="zmdi zmdi-search"></i>
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- END BREADCRUMB-->
    {{ secondsSinceEpoch }}
    <!-- DATA TABLE-->
    <section class="p-t-20">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h3 class="title-5 m-b-35">Course: {{ course.course_name }}</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <!-- /# column -->
                    <div class="detail-card">
                        <div class="card-body">
                            <div class="custom-tab">
                            <nav>
                                <div class="nav nav-tabs" id="nav-tab" role="tablist">
                                    <a class="nav-item nav-link active" id="custom-nav-home-tab" data-toggle="tab" href="#custom-nav-home" role="tab" aria-controls="custom-nav-home"
                                     aria-selected="true">Information</a>
                                    <a class="nav-item nav-link" id="custom-nav-profile-tab" data-toggle="tab" href="#custom-nav-profile" role="tab" aria-controls="custom-nav-profile"
                                     aria-selected="false">Documents</a>
                                    <a class="nav-item nav-link" id="custom-nav-contact-tab" data-toggle="tab" href="#custom-nav-contact" role="tab" aria-controls="custom-nav-contact"
                                     aria-selected="false">Lesson Canlendar</a>
                                    {% if user_data.user_roll == "2" or user_data.user_roll == "3" %}
                                        <a class="nav-item nav-link" id="custom-nav-checkin-tab" data-toggle="tab" href="#custom-nav-checkin-list" role="tab" aria-controls="custom-nav-contact"
                                        aria-selected="false">Checkin List
                                        </a>
                                    {% endif %}
                                </div>
                            </nav>
                            <div class="tab-content pl-3 pt-2" id="nav-tabContent">
                                <div class="tab-pane fade show active" id="custom-nav-home" role="tabpanel" aria-labelledby="custom-nav-home-tab">
                                    {{ course.description | safe }}
                                </div>
                                <div class="tab-pane fade" id="custom-nav-profile" role="tabpanel" aria-labelledby="custom-nav-profile-tab">
                                    {% if documents %}
                                        <ul class="list-group list-group-flush document">
                                            {% for document in documents %}
                                                <li class="list-group-item">
                                                    <a href="{{ document.docfile.url }}" target="_blank">{{ document.doc_name }}
                                                        <span class="badge badge-danger pull-right">Download</span>
                                                    </a>
                                                    <div class="table-data-feature float-right">
                                                        <button class="item" data-toggle="tooltip" onclick="callDeleteDocument({{ document.id }})" data-placement="top" title="" data-original-title="Delete">
                                                            <i class="zmdi zmdi-delete"></i>
                                                        </button>
                                                    </div>
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    {% else %}
                                    <ul class="list-group list-group-flush document">
                                        <p>No documents.</p>
                                    </ul>
                                    {% endif %}
<!--                                        <li class="list-group-item">-->
<!--                                            <a href="#">-->
<!--                                                Tài liệu networking-->
<!--                                                <span class="badge badge-primary pull-right">Link</span>-->
<!--                                            </a>-->
<!--                                        </li>-->

                                    {% if user_data.user_roll == "2" or user_data.user_roll == "3" %}
                                        <div class="float-right pt-2">
                                            <button class="au-btn au-btn-icon au-btn--green au-btn--small" data-toggle="modal" data-target="#uploadDocument">
                                                <i class="zmdi zmdi-plus"></i>add document
                                            </button>
                                        </div>
                                    {% endif %}
                                </div>
                                <div class="tab-pane fade" id="custom-nav-contact" role="tabpanel" aria-labelledby="custom-nav-contact-tab">
                                    <div class="row">
                                        <div class="table-responsive table-responsive-data2">
                                            <table class="table table-data2">
                                                <thead>
                                                    <tr>
                                                        <th>Lesson Name</th>
                                                        <th>Start Time</th>
                                                        <th>Status</th>
                                                        <th>Action</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                {% for user_lesson in user_lesson_calendar_dict %}
                                                        <tr class="tr-shadow">
                                                            <td>{{ user_lesson.lesson_calendar__lesson_name }}</td>
                                                            <td>
                                                                    {{ user_lesson.lesson_calendar__time_start }}
                                                            </td>
                                                            <td>
                                                                <span class="status--process">Processed</span>
                                                            </td>
                                                            <td>
                                                                {{ user_lesson.status | safe }}
                                                            </td>
                                                        </tr>
                                                        <tr class="spacer"></tr>
                                                {% endfor %}
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                {% if user_data.user_roll == "2" or user_data.user_roll == "3" %}
                                    <div class="tab-pane fade" id="custom-nav-checkin-list" role="tabpanel" aria-labelledby="custom-nav-checkin-tab">
                                        <div class="table-data__tool">
                                            <div class="table-data__tool-left">
                                                <div class="rs-select2--light rs-select2--xl">
                                                    <select class="js-select2" name="property" id="user">
                                                        <option selected="selected" value="0">Select User</option>
                                                        {% for user_joined in user_joined_dict %}
                                                            <option value="{{ user_joined.user_id }}">{{ user_joined.user__user_name }}</option>
                                                        {% endfor %}

                                                    </select>
                                                    <div class="dropDownSelect2"></div>
                                                </div>
                                                <div class="rs-select2--light rs-select2--xl">
                                                    <select class="js-select2" name="time" id="lesson_calendar">
                                                        <option selected="selected" value="0">Class lesson</option>
                                                        lesson_calendar_dict
                                                        {% for lesson_calendar in lesson_calendar_dict %}
                                                            <option value="{{ lesson_calendar.id }}">{{ lesson_calendar.lesson_name }}</option>
                                                        {% endfor %}
                                                    </select>
                                                    <div class="dropDownSelect2"></div>
                                                </div>
                                                <button class="au-btn-filter" id="filter_user_lesson">
                                                    <i class="zmdi zmdi-filter-list"></i>filters
                                                </button>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="table-responsive table-responsive-data2">
                                                <table class="table table-data2">
                                                    <thead>
                                                        <tr>
                                                            <th>Lesson Name</th>
                                                            <th>User</th>
                                                            <th>Start Time</th>
                                                            <th>Status</th>
                                                            <th>Action</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody class="user_lesson">
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                {% endif %}
                            </div>


                            </div>

                        </div>
                        </div>
                    </div>

                    <!-- /# column -->
                </div>
            </div>
        </div>
    </section>
    <!-- END DATA TABLE-->

    {% include 'partials/copyright.html' %}
</div>

<input type="hidden" id="courseId" value="{{ course.id }}">
<!-- modal medium add subject -->
<div class="modal fade" id="uploadDocument" tabindex="-1" role="dialog" aria-labelledby="mediumModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="email-loading" style="display: none;"></div>
            <div class="modal-header">
                <h5 class="modal-title" >Update Subject</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form id="formUploadDocument">
                <div class="modal-body">
                    <div class="form-group">
                        <label for="company" class=" form-control-label">Document name</label>
                        <input type="text" id="doc_name" placeholder="Enter document name" class="form-control" required>
                    </div>
                    <div class="form-group">
                        <label for="company" class=" form-control-label">Document file</label>
                        </br>
                        <input type="file" name="file" required="" id="file" required>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-primary">Confirm</button>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- end modal medium -->


