{% load static %}
<!-- PAGE CONTENT-->
<div class="page-content--bgf7">
    <!-- BREADCRUMB-->
    <section class="au-breadcrumb2">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="au-breadcrumb-content">
                        <div class="au-breadcrumb-left">
                            <span class="au-breadcrumb-span">You are here:</span>
                            <ul class="list-unstyled list-inline au-breadcrumb__list">
                                <li class="list-inline-item active">
                                    <a href="#">{{ root_page}}</a>
                                </li>
                                <li class="list-inline-item seprate">
                                    <span>/</span>
                                </li>
                                <li class="list-inline-item">{{ child_page}}</li>
                            </ul>
                        </div>
                        <form class="au-form-icon--sm" action="" method="post">
                            <input class="au-input--w300 au-input--style2" type="text" placeholder="Search for datas &amp; reports...">
                            <button class="au-btn--submit2" type="submit">
                                <i class="zmdi zmdi-search"></i>
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- END BREADCRUMB-->
    <!-- DATA TABLE-->
    <section class="p-t-20">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h3 class="title-5 m-b-35">Courses</h3>
                    <div class="table-data__tool">
                        <div class="table-data__tool-left">
                            <div class="rs-select2--light rs-select2--md">
                                <select class="js-select2" name="property">
                                    <option selected="selected">All Properties</option>
                                    <option value="">Option 1</option>
                                    <option value="">Option 2</option>
                                </select>
                                <div class="dropDownSelect2"></div>
                            </div>
                            <div class="rs-select2--light rs-select2--sm">
                                <select class="js-select2" name="time">
                                    <option selected="selected">Today</option>
                                    <option value="">3 Days</option>
                                    <option value="">1 Week</option>
                                </select>
                                <div class="dropDownSelect2"></div>
                            </div>
                            <button class="au-btn-filter">
                                <i class="zmdi zmdi-filter-list"></i>filters</button>
                        </div>
                        <div class="table-data__tool-right">
                            <button class="au-btn au-btn-icon au-btn--green au-btn--small" id="btnCreateCourse" data-toggle="modal" data-target="#createCourseModal">
                                <i class="zmdi zmdi-plus"></i>add item</button>
                            <div class="rs-select2--dark rs-select2--sm rs-select2--dark2">
                                <select class="js-select2" name="type">
                                    <option selected="selected">Export</option>
                                    <option value="">Option 1</option>
                                    <option value="">Option 2</option>
                                </select>
                                <div class="dropDownSelect2"></div>
                            </div>
                        </div>
                    </div>
                    <div class="table-responsive table-responsive-data2">
                        <table class="table table-data2">
                            <thead>
                                <tr>
                                    <th>Course name</th>
                                    <th>Teacher</th>
                                    <th>Start</th>
                                    <th>End</th>
                                    <th>Student</th>
                                    <th>Lesson Calendar</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for course in course_list %}
                                    <tr class="tr-shadow">
                                        <td><a href="{% url 'application:course_details' course.id %}">{{ course.course_name }}</a></td>
                                        <td>
                                            <span class="block-email">lori@example.com</span>
                                        </td>
                                        <td>{{ course.start_time }}</td>
                                        <td>{{ course.end_time }}</td>
                                        <td>
                                            <a href="{% url 'application:course_student' course.id %}" class="btn btn-primary btn-sm">Add</a>
                                        </td>
                                        <td >
                                            <a href="{% url 'application:lesson_calendar' course.id %}" class="btn btn-primary btn-sm">Add</a>
                                        </td>
                                        <td>
                                            <div class="table-data-feature">
                                                <button class="item" onclick="callUpdateCourse({{ course.id }})" data-toggle="modal" data-target="#createCourseModal" data-placement="top" title="Edit">
                                                <i class="zmdi zmdi-edit"></i>
                                            </button>
                                                <button class="item" data-toggle="tooltip" onclick="callDeleteCourse({{ course.id }})" data-placement="top" title="Delete">
                                                    <i class="zmdi zmdi-delete"></i>
                                                </button>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr class="spacer"></tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- END DATA TABLE-->

    {% include 'partials/copyright.html' %}
</div>
<!-- modal medium add subject -->
<div class="modal fade" id="createCourseModal" tabindex="-1" role="dialog" aria-labelledby="mediumModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="email-loading" style="display: none;"></div>
            <div class="modal-header">
                <h5 class="modal-title" id="createCourseModalTitle">Create Course</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form id="create-course">
                <div class="modal-body">
                    <div class="row">
                        <div class="col col-md-12">
                            <div class="form-group">
                                <label for="company" class=" form-control-label">Course name</label>
                                <input type="text" id="course_name" placeholder="Enter subject name" class="form-control" required>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col col-md-6">
                            <div class="form-group">
                                <label for="company" class=" form-control-label">Course type</label>
                                <select name="select" id="course_type_id" class="form-control" onchange="updateSubject(this.value)" required>
                                    <option value="">Please select</option>
                                    {% for category in category_list %}
                                    <option value="{{ category.id }}">{{ category.course_type }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="col col-md-6">
                            <div class="form-group">
                                <label for="company" class=" form-control-label">Subject</label>
                                <select name="select" id="subject_id" class="form-control" required>
                                    <option value="">Please select</option>
                                    {% for category in category_list %}
                                    <option value="{{ category.id }}">{{ category.course_type }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col col-md-6">
                            <div class="form-group">
                                <label for="company" class=" form-control-label">Start from</label>
                                <input type="text" class="form-control pull-right" id="datepicker-from" required>
                            </div>
                        </div>
                        <div class="col col-md-6">
                            <div class="form-group">
                                <label for="company" class=" form-control-label">Start from</label>
                                <input type="text" class="form-control pull-right" id="datepicker-to" required>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col col-md-6">
                            <div class="form-group">
                                <label for="company" class=" form-control-label">Limit student</label>
                                <input type="number" id="limited" placeholder="Enter number student" class="form-control" required>
                            </div>
                        </div>
                        <div class="col col-md-6">
                            <div class="form-group">
                                <label for="company" class=" form-control-label">Teacher</label>
                                <select name="select" id="teacher_id" class="form-control" required>
                                    <option value="">Please select</option>
                                    {% for user in user_list %}
                                    <option value="{{ user.id }}">{{ user.user_name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col col-md-12">
                            <div class="form-group text-dark">
                                <label for="descriptions" class=" form-control-label">Descriptions</label>
                                <textarea cols="80" id="descriptions" name="descriptions" rows="10" >

                                </textarea>
                          </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <button id="submit-create-course" type="submit" class="btn btn-primary">Confirm</button>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- end modal medium -->


