<!DOCTYPE html>
<html lang="en">

<head>
    {% include 'partials/header.html' %}

</head>

<body class="animsition">
	<div class="page-wrapper">
	{% include 'partials/menu.html' %}
    {% include temp_template %}
	
	
    </div>
    {% include 'partials/importjs.html' %}

</body>

</html>
<!-- end document-->
