<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'partials/header.html' %}
</head>
    <body class="animsition">
        {% include 'login/login.html' %}
        {% include 'partials/importjs.html' %}
    </body>
</html>
<!-- end document-->