<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="au theme template">
<meta name="author" content="Hau Nguyen">
<meta name="keywords" content="au theme template">

<!-- Title Page-->
<title>
    {{ title|default:"Web Traning Tool  - Login" }}
</title>

<!-- Fontfaces CSS-->
{% load static %}
<link href="{% static 'css/font-face.css'%}" rel="stylesheet" media="all">
<link href="{% static 'vendor/font-awesome-4.7/css/font-awesome.min.css'%}" rel="stylesheet" media="all">
<link href="{% static 'vendor/font-awesome-5/css/fontawesome-all.min.css'%}" rel="stylesheet" media="all">
<link href="{% static 'vendor/mdi-font/css/material-design-iconic-font.min.css'%}" rel="stylesheet" media="all">

<!-- Bootstrap CSS-->
<link href="{% static 'vendor/bootstrap-4.1/bootstrap.min.css'%}" rel="stylesheet" media="all">

<!-- Jquery JS-->
<script src="{% static 'vendor/jquery-3.2.1.min.js'%}"></script>

<!-- Vendor CSS-->
<link href="{% static 'vendor/animsition/animsition.min.css'%}" rel="stylesheet" media="all">
<link href="{% static 'vendor/bootstrap-progressbar/bootstrap-progressbar-3.3.4.min.css'%}" rel="stylesheet" media="all">
<link href="{% static 'vendor/wow/animate.css" rel="stylesheet'%}" media="all">
<link href="{% static 'vendor/css-hamburgers/hamburgers.min.css'%}" rel="stylesheet" media="all">
<link href="{% static 'vendor/slick/slick.css" rel="stylesheet'%}" media="all">
<link href="{% static 'vendor/select2/select2.min.css'%}" rel="stylesheet" media="all">
<link href="{% static 'vendor/perfect-scrollbar/perfect-scrollbar.css'%}" rel="stylesheet" media="all">

<link rel="stylesheet" href="https://code.jquery.com/ui/1.11.1/themes/smoothness/jquery-ui.css" />

<!-- bootstrap wysihtml5 - text editor -->
<link rel="stylesheet" href="{% static 'vendor/bootstrap-wysihtml5/bootstrap3-wysihtml5.min.css'%}"  rel="stylesheet" media="all">


<!-- bootstrap datepicker -->
<link rel="stylesheet" href="{% static 'vendor/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css'%}">

<!-- Main CSS-->
<link href="{% static 'css/theme.css'%}?v=3" rel="stylesheet" media="all">
<link href="{% static 'css/style.css'%}?v=3" rel="stylesheet" media="all">


<script src="{% static 'vendor/ckeditor5/ckeditor.js'%}"></script>