{% load static %}

<!-- Bootstrap JS-->
<script src="{% static 'vendor/bootstrap-4.1/popper.min.js'%}"></script>
<script src="{% static 'vendor/bootstrap-4.1/bootstrap.min.js'%}"></script>
<!-- Vendor JS       -->
<script src="{% static 'vendor/slick/slick.min.js'%}">
</script>
<script src="{% static 'vendor/wow/wow.min.js'%}"></script>
<script src="{% static 'vendor/animsition/animsition.min.js'%}"></script>
<script src="{% static 'vendor/bootstrap-progressbar/bootstrap-progressbar.min.js'%}">
</script>
<script src="{% static 'vendor/counter-up/jquery.waypoints.min.js'%}"></script>
<script src="{% static 'vendor/counter-up/jquery.counterup.min.js'%}">
</script>
<script src="{% static 'vendor/circle-progress/circle-progress.min.js'%}"></script>
<script src="{% static 'vendor/perfect-scrollbar/perfect-scrollbar.js'%}"></script>
<script src="{% static 'vendor/chartjs/Chart.bundle.min.js'%}"></script>
<script src="{% static 'vendor/select2/select2.min.js'%}"></script>

<!-- Bootstrap WYSIHTML5 -->
<script src="{% static 'vendor/bootstrap-wysihtml5/bootstrap3-wysihtml5.all.min.js'%}"></script>



<!-- bootstrap datepicker -->
<script src="{% static 'vendor/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js'%}"></script>

<!-- Main JS-->
<script src="{% static 'js/main.js'%}?v=7"></script>

<!-- My scripts -->
<script src="{% static 'js/my_scripts.js'%}?v=87"></script>