{% load static %}
<!-- HEADER DESKTOP-->
<header class="header-desktop3 d-none d-lg-block">
	<div class="section__content section__content--p35">
		<div class="header3-wrap">
			<div class="header__logo">
				<a href="#">
					<img src="{% static 'images/logo.png' %}" alt="Web Tranining Tool" />
				</a>
			</div>
			<div class="header__navbar">
				<ul class="list-unstyled">
					<li class="has-sub">
						<a href="{% url 'application:home' %}">
							<i class="fas fa-tachometer-alt"></i>Dashboard
							<span class="bot-line"></span>
						</a>
					</li>
					<li class="has-sub">
						<a href="{% url 'application:my_course' %}">
							<i class="fas fa-graduation-cap"></i>My Course
							<span class="bot-line"></span>
						</a>
					</li>
					{% if user_data.user_roll == "2" or user_data.user_roll == "3" %}
						<li class="has-sub">
							<a href="#">
								<i class="fas fa-folder-open"></i>
								<span class="bot-line"></span>Course</a>
							<ul class="header3-sub-list list-unstyled">
								<li>
									<a href="{% url 'application:subject' %}">Subject</a>
								</li>
								<li>
									<a href="{% url 'application:category' %}">Course Category</a>
								</li>
								<li>
									<a href="{% url 'application:course_management' %}">Course Management</a>
								</li>
							</ul>
						</li>
					{% endif %}
					{% if user_data.user_roll == "3" %}
					<li class="has-sub">
						<a href="#">
							<i class="fas fa-users"></i>
							<span class="bot-line"></span>User</a>
							<ul class="header3-sub-list list-unstyled">
								<li>
									<a href="{% url 'application:user' %}">User list</a>
								</li>
								<li>
									<a href="{% url 'application:user' %}">User Permisson</a>
								</li>
							</ul>
					</li>
					{% endif %}
					{% if user_data.user_roll == "3" %}
					<li>
						<a href="{% url 'application:report' %}">
							<i class="fa fa-line-chart"></i>
							<span class="bot-line"></span>Report</a>
					</li>
					{% endif %}
				</ul>
			</div>
			<div class="header__tool">
				<div class="header-button-item has-noti js-item-menu">
					<i class="zmdi zmdi-notifications"></i>
					<div class="notifi-dropdown notifi-dropdown--no-bor js-dropdown">
						<div class="notifi__title">
							<p>You have 3 Notifications</p>
						</div>
						<div class="notifi__item">
							<div class="bg-c1 img-cir img-40">
								<i class="zmdi zmdi-email-open"></i>
							</div>
							<div class="content">
								<p>You got a email notification</p>
								<span class="date">April 12, 2018 06:50</span>
							</div>
						</div>
						<div class="notifi__item">
							<div class="bg-c2 img-cir img-40">
								<i class="zmdi zmdi-account-box"></i>
							</div>
							<div class="content">
								<p>Your account has been blocked</p>
								<span class="date">April 12, 2018 06:50</span>
							</div>
						</div>
						<div class="notifi__item">
							<div class="bg-c3 img-cir img-40">
								<i class="zmdi zmdi-file-text"></i>
							</div>
							<div class="content">
								<p>You got a new file</p>
								<span class="date">April 12, 2018 06:50</span>
							</div>
						</div>
						<div class="notifi__footer">
							<a href="#">All notifications</a>
						</div>
					</div>
				</div>
				<div class="account-wrap">
					<div class="account-item account-item--style2 clearfix js-item-menu">
						<div class="image">
							<img src="{% static 'images/default_avatar.png' %}" alt="John Doe" />
						</div>
						<div class="content">
							<a class="js-acc-btn" href="#">{{ user_data.fullName }}</a>
						</div>
						<div class="account-dropdown js-dropdown">
							<div class="info clearfix">
								<div class="image">
									<a href="#">
										<img src="{% static 'images/default_avatar.png' %}" alt="John Doe" />
									</a>
								</div>
								<div class="content">
									<h5 class="name">
										<a href="#">{{ user_data.fullName }}</a>
									</h5>
									<span class="email">{{ user_data.email }}</span>
								</div>
							</div>
							<div class="account-dropdown__body">
								<div class="account-dropdown__item">
									<a href="#">
										<i class="zmdi zmdi-account"></i>Account</a>
								</div>
								<div class="account-dropdown__item">
									<a href="#">
										<i class="zmdi zmdi-settings"></i>Setting</a>
								</div>
								<div class="account-dropdown__item">
									<a href="#">
										<i class="zmdi zmdi-notifications"></i>Notifications</a>
								</div>
							</div>
							<div class="account-dropdown__footer">
								<a href="{% url 'application:logout' %}">
									<i class="zmdi zmdi-power"></i>Logout</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</header>
<!-- END HEADER DESKTOP-->

<!-- HEADER MOBILE-->
<header class="header-mobile header-mobile-2 d-block d-lg-none">
	<div class="header-mobile__bar">
		<div class="container-fluid">
			<div class="header-mobile-inner">
				<a class="logo" href="index.html">
					<img src="static/images/logo.png" alt="Web Tranining Tool" />
				</a>
				<button class="hamburger hamburger--slider" type="button">
					<span class="hamburger-box">
						<span class="hamburger-inner"></span>
					</span>
				</button>
			</div>
		</div>
	</div>
	<nav class="navbar-mobile">
		<div class="container-fluid">
			<ul class="navbar-mobile__list list-unstyled">
				<li>
					<a href="{% url 'application:home' %}">
						<i class="fas fa-tachometer-alt"></i>Dashboard</a>
				</li>
				<li >
					<a href="{% url 'application:my_course' %}">
						<i class="fas fa-graduation-cap"></i>My Course</a>
				</li>
				{% if user_data.user_roll == "2" or user_data.user_roll == "3" %}
					<li class="has-sub">
						<a class="js-arrow" href="#">
							<i class="fas fa-folder-open"></i>Course</a>
						<ul class="navbar-mobile-sub__list list-unstyled js-sub-list">
							<li>
								<a href="{% url 'application:subject' %}">Subject</a>
							</li>
							<li>
								<a href="{% url 'application:category' %}">Course Category</a>
							</li>
							<li>
								<a href="{% url 'application:course_management' %}">Course Management</a>
							</li>
						</ul>
					</li>
				{% endif %}
				{% if user_data.user_roll == "3" %}
					<li class="has-sub">
						<a class="js-arrow" href="#">
							<i class="fas fa-users"></i>User</a>
						<ul class="navbar-mobile-sub__list list-unstyled js-sub-list">
							<li>
								<a href="{% url 'application:user' %}">User List</a>
							</li>
							<li>
								<a href="{% url 'application:user' %}">User Permisson</a>
							</li>
						</ul>
					</li>
					<li>
						<a href="{% url 'application:report' %}">
							<i class="fa fa-line-chart"></i>Report</a>
					</li>
				{% endif %}
			</ul>
		</div>
	</nav>
</header>
<div class="sub-header-mobile-2 d-block d-lg-none">
	<div class="header__tool">
		<div class="header-button-item has-noti js-item-menu">
			<i class="zmdi zmdi-notifications"></i>
			<div class="notifi-dropdown notifi-dropdown--no-bor js-dropdown">
				<div class="notifi__title">
					<p>You have 3 Notifications</p>
				</div>
				<div class="notifi__item">
					<div class="bg-c1 img-cir img-40">
						<i class="zmdi zmdi-email-open"></i>
					</div>
					<div class="content">
						<p>You got a email notification</p>
						<span class="date">April 12, 2018 06:50</span>
					</div>
				</div>
				<div class="notifi__item">
					<div class="bg-c2 img-cir img-40">
						<i class="zmdi zmdi-account-box"></i>
					</div>
					<div class="content">
						<p>Your account has been blocked</p>
						<span class="date">April 12, 2018 06:50</span>
					</div>
				</div>
				<div class="notifi__item">
					<div class="bg-c3 img-cir img-40">
						<i class="zmdi zmdi-file-text"></i>
					</div>
					<div class="content">
						<p>You got a new file</p>
						<span class="date">April 12, 2018 06:50</span>
					</div>
				</div>
				<div class="notifi__footer">
					<a href="#">All notifications</a>
				</div>
			</div>
		</div>
		<div class="account-wrap">
			<div class="account-item account-item--style2 clearfix js-item-menu">
				<div class="image">
					<img src="{% static 'images/default_avatar.png' %}" alt="{{ user_data.fullName }}" />
				</div>
				<div class="content">
					<a class="js-acc-btn" href="#">{{ user_data.fullName }}</a>
				</div>
				<div class="account-dropdown js-dropdown">
					<div class="info clearfix">
						<div class="image">
							<a href="#">
								<img src="{% static 'images/default_avatar.png' %}" alt="{{ user_data.fullName }}" />
							</a>
						</div>
						<div class="content">
							<h5 class="name">
								<a href="#">{{ user_data.fullName }}</a>
							</h5>
							<span class="email">{{ user_data.email }}</span>
						</div>
					</div>
					<div class="account-dropdown__body">
						<div class="account-dropdown__item">
							<a href="#">
								<i class="zmdi zmdi-account"></i>Account</a>
						</div>
						<div class="account-dropdown__item">
							<a href="#">
								<i class="zmdi zmdi-settings"></i>Setting</a>
						</div>
						<div class="account-dropdown__item">
							<a href="#">
								<i class="zmdi zmdi-notifications"></i>Notifications</a>
						</div>
					</div>
					<div class="account-dropdown__footer">
						<a href="{% url 'application:logout' %}">
							<i class="zmdi zmdi-power"></i>Logout</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- END HEADER MOBILE -->
