{% load static %}
<!-- PAGE CONTENT-->
<div class="page-content--bgf7">
<!-- BREADCRUMB-->
<section class="au-breadcrumb2">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="au-breadcrumb-content">
                    <div class="au-breadcrumb-left">
                        <span class="au-breadcrumb-span">You are here:</span>
                        <ul class="list-unstyled list-inline au-breadcrumb__list">
                            <li class="list-inline-item active">
                                <a href="#">Home</a>
                            </li>
                            <li class="list-inline-item seprate">
                                <span>/</span>
                            </li>
                            <li class="list-inline-item">Subject</li>
                        </ul>
                    </div>
                    <form class="au-form-icon--sm" action="" method="post">
                        <input class="au-input--w300 au-input--style2" type="text" placeholder="Search for datas &amp; reports...">
                        <button class="au-btn--submit2" type="submit">
                            <i class="zmdi zmdi-search"></i>
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- END BREADCRUMB-->

<!-- DATA TABLE-->
<section class="p-t-20">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h3 class="title-5 m-b-35">Subject List</h3>
                <div class="table-data__tool">
                    <div class="table-data__tool-left">
                        <div style="display: inline-block;">
                                <button class="au-btn au-btn-icon au-btn--blue2 au-btn--small" onclick="history.back();">
                                <i class="zmdi zmdi-arrow-left"></i>Back</button>
                            </div>
                        <div class="rs-select2--light rs-select2--md">
                            <select class="js-select2" name="property">
                                <option selected="selected">All Properties</option>
                                <option value="">Option 1</option>
                                <option value="">Option 2</option>
                            </select>
                            <div class="dropDownSelect2"></div>
                        </div>
                        <div class="rs-select2--light rs-select2--sm">
                            <select class="js-select2" name="time">
                                <option selected="selected">Today</option>
                                <option value="">3 Days</option>
                                <option value="">1 Week</option>
                            </select>
                            <div class="dropDownSelect2"></div>
                        </div>
                        <button class="au-btn-filter">
                            <i class="zmdi zmdi-filter-list"></i>filters</button>
                    </div>
                    <div class="table-data__tool-right">
                        <button class="au-btn au-btn-icon au-btn--green au-btn--small" data-toggle="modal" data-target="#createSubjectModal">
                            <i class="zmdi zmdi-plus"></i>add item</button>
                        <div class="rs-select2--dark rs-select2--sm rs-select2--dark2">
                            <select class="js-select2" name="type">
                                <option selected="selected">Export</option>
                                <option value="">Option 1</option>
                                <option value="">Option 2</option>
                            </select>
                            <div class="dropDownSelect2"></div>
                        </div>
                    </div>
                </div>
                <div class="table-responsive table-responsive-data2">
                    <table class="table table-data2">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Subject name</th>
                                <th>Category</th>
                                <th>Lesson</th>
                                <th>Status</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody class="tbody">
                            {% for subject in subject_list %}
                                <tr class="tr-shadow">
                                    <td>{{ subject.id }}</td>
                                    <td>
                                        {{ subject.subject_name }}
                                    </td>
                                    <td>{{ subject.course_type_id }}</td>
                                    <td>
                                        <a href="{% url 'application:lesson' subject.id %}" class="btn btn-primary btn-sm">Edit</a>
                                    </td>
                                    <td>
                                        <label class="switch switch-3d switch-success mr-3">
                                          <input type="checkbox" class="switch-input" checked="true">
                                          <span class="switch-label"></span>
                                          <span class="switch-handle"></span>
                                        </label>
                                    </td>
                                    <td>
                                        <div class="table-data-feature">
                                            <button class="item" onclick="callUpdateSubject({{ subject.id }})" data-toggle="modal" data-target="#UpdateSubjectModal" data-placement="top" title="Edit">
                                                <i class="zmdi zmdi-edit"></i>
                                            </button>
                                            <button class="item" onclick="callDeleteSubject({{ subject.id }})" data-toggle="tooltip" data-placement="top" title="Delete">
                                                <i class="zmdi zmdi-delete"></i>
                                            </button>
                                        </div>
                                    </td>
                                </tr>
                                <tr class="spacer"></tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- END DATA TABLE-->

{% include 'partials/copyright.html' %}
</div>


<!-- modal medium add subject -->
<div class="modal fade" id="createSubjectModal" tabindex="-1" role="dialog" aria-labelledby="mediumModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="email-loading" style="display: none;"></div>
            <div class="modal-header">
                <h5 class="modal-title" id="mediumModalLabel">Create Subject</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="company" class=" form-control-label">Subject name</label>
                    <input type="text" id="subject_name" placeholder="Enter subject name" class="form-control">
                </div>
                <div class="form-group">
                    <label for="company" class=" form-control-label">Subject type</label>
                    <select name="select" id="course_type_id" class="form-control">
                        <option value="0">Please select</option>
                        {% for category in category_list %}
                        <option value="{{ category.id }}">{{ category.course_type }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <button id="submit-create-subject" type="button" class="btn btn-primary">Confirm</button>
            </div>
        </div>
    </div>
</div>
<!-- end modal medium -->

<!-- modal medium add subject -->
<div class="modal fade" id="UpdateSubjectModal" tabindex="-1" role="dialog" aria-labelledby="mediumModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="email-loading" style="display: none;"></div>
            <div class="modal-header">
                <h5 class="modal-title" >Update Subject</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="company" class=" form-control-label">Subject name</label>
                    <input type="text" id="edit_subject_name" placeholder="Enter subject name" class="form-control">
                </div>
                <div class="form-group">
                    <label for="company" class=" form-control-label">Subject type</label>
                    <select name="select" id="edit_course_type_id" class="form-control">
                        <option value="0">Please select</option>
                        {% for category in category_list %}
                        <option value="{{ category.id }}">{{ category.course_type }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <button id="submit-update-subject" type="button" class="btn btn-primary">Confirm</button>
            </div>
        </div>
    </div>
</div>
<!-- end modal medium -->