.email-loading {
    position: fixed;
    width: 100%; height: 100%;
    z-index: 9999;
    background: url(../../static/images/loader/email_loading.gif) no-repeat #fff;
    background-position: center;
}