{% load static %}
<div class="page-wrapper">
	<div class="page-content--bge5">
		<div class="container">
			<div class="login-wrap">
				<div class="login-content">
					<div class="login-logo">
						<a href="#">
							<img src="static/images/logo.png" alt="CoolAdmin">
						</a>
					</div>
					<div class="login-form">
						{% if error_message %}
							<div class="alert alert-danger" role="alert">
								{{ error_message }}
							</div>
						{% endif %}
						<form action="{% url 'application:verify_login' %}" method="post">
							{% csrf_token %}
							<div class="form-group">
								<label>Email Address</label>
								<input class="au-input au-input--full" type="email" name="username" placeholder="Email" required>
							</div>
							<div class="form-group">
								<label>Password</label>
								<input class="au-input au-input--full" type="password" name="password" placeholder="Password" required>
							</div>
							<button class="au-btn au-btn--block au-btn--green m-b-20" type="submit">sign in</button>
						</form>

					</div>
				</div>
			</div>
		</div>
	</div>

</div>